//
//  64bit.xcconfig
//
//  Xcode configuration file to include for builds wanting 64bit support.
//
//  Copyright 2008 Google Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License"); you may not
//  use this file except in compliance with the License.  You may obtain a copy
//  of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
//  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
//  License for the specific language governing permissions and limitations under
//  the License.
//

// Compile all flavors: 32 & 64bit on both PPC and Intel
ARCHS = i386 x86_64 ppc ppc64

// Warn on implicit data conversions in 64bit builds
GCC_WARN_64_TO_32_BIT_CONVERSION[arch=ppc64] = YES
GCC_WARN_64_TO_32_BIT_CONVERSION[arch=x86_64] = YES
