//
//  iPhone.xcconfig
//
//  Xcode configuration file for building a Debug target on iPhone
//
//  Copyright 2006-2008 Google Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License"); you may not
//  use this file except in compliance with the License.  You may obtain a copy
//  of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
//  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
//  License for the specific language governing permissions and limitations under
//  the License.

// Build for ARM
ARCHS = armv6

// Build only the active architecture
ONLY_ACTIVE_ARCH = YES

// Code signing. Should be overridden if releasing
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

// Default SDK and minimum OS version is the iphone SDK.
SDKROOT = iphoneos2.0

MACOSX_DEPLOYMENT_TARGET = 10.5
GCC_VERSION = 4.0

// On iPhone use Obj-C fast dispatch
GCC_FAST_OBJC_DISPATCH = YES

