trigger:
  - "master"
pr:
  - "master"

variables:
- group: "mobile-center-sdk KV"
- name: "Configuration"
  value: "Release"
- name: "SDK"
  value: ""
- name: "XCODE_PATH"
  value: "/Applications/Xcode_14.3.1.app/Contents/Developer"
- name: CRASHREPORTER_ROOT_PATH
  value: "sdk/plcrashreporter"

resources:
  repositories:
    - repository: "1ESPipelineTemplates"
      type: "git"
      name: "1ESPipelineTemplates/1ESPipelineTemplates"
      ref: "refs/tags/release"

extends:
  template: "v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates"
  parameters:
    pool:
      name: "Azure Pipelines"
      image: "macos-13"
      os: "macOS"
    customBuildTags:
      - "ES365AIMigrationTooling-BulkMigrated"
    sdl:
      sourceAnalysisPool: "1ES-PT-Windows-2022"
      codeql:
        buildIdentifier: plcrashreporter
        enabledOnNonDefaultBranches: true
    stages:
      - template: "./build-template.yml@self"
      - stage: "APIScan"
        dependsOn: "build"
        pool:
          name: "1ES-PT-Windows-2022"
          os: "windows"
        variables:
          "agent.source.skip": true
        jobs:
          - job: "APIScan"
            steps:
              - task: "DownloadPipelineArtifact@2"
                displayName: "Download Pipeline Artifacts for APIScan"
                inputs:
                  artifactName: "Release"
                  targetPath: "$(Agent.BuildDirectory)/Release"
              - task: "APIScan@2"
                displayName: "Run APIScan"
                inputs:
                  softwareFolder: "$(Agent.BuildDirectory)/Release"
                  softwareName: "plcrashreporter"
                  softwareVersionNum: "$(Build.BuildId)"
                  isLargeApp: false
                  toolVersion: "Latest"
                  verbosityLevel: "verbose"
                condition: "and(succeeded(), ne(variables['DisableAPIScan'], 'true'))"
                env:
                  AzureServicesAuthConnectionString: "runAs=App;AppId=$(appcenter-sdk-managed-identity-clientid)"
