stages:
  - stage: "build"
    displayName: "Build PLCrashReporter"
    jobs:
      - job: "build"
        displayName: "Build for All Platforms"
        steps:
          - checkout: "self"
          - bash: |
              brew install wget doxygen graphviz protobuf-c
              brew uninstall --ignore-dependencies protobuf
              brew tap-new local/protobuf
              cp ./Dependencies/protobuf.rb $(brew --repository)/Library/Taps/local/homebrew-protobuf/Formula/protobuf.rb
              brew install local/protobuf/protobuf
            displayName: "Install dependencies"
          - task: "Xcode@5"
            displayName: "Build Crash Reporter"
            inputs:
              xcWorkspacePath: "CrashReporter.xcodeproj"
              scheme: "CrashReporter"
              xcodeVersion: "specifyPath"
              xcodeDeveloperDir: "$(XCODE_PATH)"
              args: 'SYMROOT="$(Build.BinariesDirectory)" GCC_TREAT_WARNINGS_AS_ERRORS=YES SWIFT_TREAT_WARNINGS_AS_ERRORS=YES'


