trigger:
  - "master"
pr:
  - "master"

variables:
- name: "Configuration"
  value: "Release"
- name: "SDK"
  value: ""
- name: "XCODE_PATH"
  value: "/Applications/Xcode_14.3.1.app/Contents/Developer"
- name: CRASHREPORTER_ROOT_PATH
  value: "sdk/plcrashreporter"

resources:
  repositories:
    - repository: "1ESPipelineTemplates"
      type: "git"
      name: "1ESPipelineTemplates/1ESPipelineTemplates"
      ref: "refs/tags/release"

extends:
  template: "v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates"
  parameters:
    pool:
      name: "Azure Pipelines"
      image: "macos-13"
      os: "macOS"
    customBuildTags:
      - "ES365AIMigrationTooling-BulkMigrated"
    sdl:
      sourceAnalysisPool: "1ES-PT-Windows-2022"
      codeql:
        buildIdentifier: plcrashreporter
        enabledOnNonDefaultBranches: true
        language: cpp,swift,ruby
    stages:
      - template: "./build-template.yml@self"