stages:
  - stage: "build"
    displayName: "Build PLCrashReporter"
    jobs:
      - job: "build"
        displayName: "Build for All Platforms"
        templateContext:
          outputs:
            - output: "pipelineArtifact"
              displayName: "Publish Artifacts"
              path: "$(Build.ArtifactStagingDirectory)/Release"
              artifactName: "Release"
              sbomBuildDropPath: "$(Build.SourcesDirectory)"
            - output: "pipelineArtifact"
              displayName: "Publish Version Information"
              path: "$(Build.ArtifactStagingDirectory)/Info"
              artifactName: "Info"
              sbomEnabled: false
        steps:
          - checkout: "self"
          - bash: |
              brew install wget doxygen graphviz protobuf-c
              brew unlink protobuf
              brew install ./Dependencies/protobuf.rb
            displayName: "Install dependencies"
          - task: "Xcode@5"
            displayName: "Build Crash Reporter"
            inputs:
              xcWorkspacePath: "CrashReporter.xcodeproj"
              scheme: "CrashReporter"
              xcodeVersion: "specifyPath"
              xcodeDeveloperDir: "$(XCODE_PATH)"
              args: 'SYMROOT="$(Build.BinariesDirectory)" GCC_TREAT_WARNINGS_AS_ERRORS=YES SWIFT_TREAT_WARNINGS_AS_ERRORS=YES'


